@import '../../css/var.less';

.divider{
    display: flex;
    width: 100%;
    min-width: 100%;
    margin: 24px 0;
}

.divider-solid{
    border: 1px solid @f0;
}

.divider-dashed{
    border: 1px dashed @f0;
}

.divider-with-text{
     
}